.admin-menu-container{
    display: flex;
    padding: 20px;
}

.option-page{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.admin-options{
    display: flex;
    padding: 20px;
    flex-direction: column;
    row-gap: 30px;
    align-items: start;
    width: 200px;
}