.div-photos {
    position: relative;
    width:170px;
    height: 140px;
    border-radius:4%;
}

.add-photo {
    left: 0;
    background-size: cover;
    width: 170px;
    height: 140px;
    border-radius:4%;
}

.div-photos:hover .delete{
    display: block;
}

.div-photos:hover:after{
    position: absolute;
    left: 0;
    content:" ";
    width: 170px;
    height: 140px;
    background-color: black;
    opacity: 0.5;
}


.delete:hover {
    display: block;
}

.delete {
    position: absolute;
    display: none;
    background-color: white;
    width: 70px;
    height: 70px;
    left: 50px;
    bottom:40px;
    border-radius: 40%;
    z-index: 3;
}

.delete-bucket {
    width: 60px;
    height: 60px;
    margin-left: 3px;
}
.main-photo{
    display: none;
}

.main-photo0{
    z-index: 3;
    position: absolute;
    display: block;
    bottom: 0;
    height: 20px;
    width: 70px;
    background-color: #19dbff;
    border: 1px solid black;

}

.main-photo0 h6{
    font-size: 16px;
}
